.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #e3e5e6;
    background-color: transparent;

    @include r(575) {
        padding: 15px 0;
        background-color: #f0f3f6;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    }
}

.header_home-active {
    background-color: rgba(#f0f3f6, .8);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    border-bottom: none;

    .logo_header {
        max-width: 120px;
    }

    .header__item {

        &::after {
            height: 3px;
        }
    }

    .header__item-link {
        line-height: 74px;
    }
}

.header__wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.header__btn {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    transform: translateY(-50%);
    cursor: pointer;

    @include r(575) {
        display: block;
    }
}

.header__btn_active {

    .header__btn-line {

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .header__btn-line_1 {
        transform: rotate(45deg) translate(1px, 1px);
    }

    .header__btn-line_2 {
        display: none;
    }

    .header__btn-line_3 {
        transform: rotate(-45deg);
    }
}

.header__btn-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .5);
    transform-origin: 50% 50%;
    transition: .2s;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.logo_header {
    max-width: 150px;
    transition: .3s;

    @include r(767) {
        max-width: 120px;
    }
}

.logo__link {
    display: block;
    width: 100%;
}

.header__nav {
    margin-left: 25.641%;
    transition: .3s;

    @include r(767) {
        margin-left: 13%;
    }

    @include r(575) {
        position: absolute;
        top: 129%;
        right: 0;
        width: 100vw;
        margin: 0 -10px;
        background-color: #f0f3d9;
        transform: translateX(102%);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    }
}

.header__nav_active {
    transform: translateX(0);
}

.header__list {
    display: flex;

    @include r(575) {
        display: block;
    }
}

.header__item-link {
    display: block;
    padding: 0 18px;
    line-height: 118px;
    font-size: 16px;
    color: #444;
    text-decoration: none;

    @include r(1023) {
        font-size: 14px;
    }

    @include r(575) {
        text-align: center;
        line-height: 50px;
    }
}

.header__item {
    position: relative;

    .header__item-link {
        transition: .3s;
    }

    &:hover {

        &::after {
            background-color: #8fbb1c;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background-color: transparent;
        transition: .3s;

        @include r(575) {
            display: none;
        }
    }

    &:not(:last-child) {

        @include r(575) {
            border-bottom: 1px solid #8fbb1c;
        }
    }
}

.header__item_active {

    .header__item-link {
        font-weight: 700;
        color: #3e3e3e;
    }

    &::after {
        background-color: #8fbb1c;
    }
}

.lang {
    display: flex;
    position: relative;
    z-index: 60;
    padding: 0 10px;
    margin-left: auto;
    cursor: pointer;

    @include r(575) {
        margin-right: 50px;
    }
}

.lang_active {

    .lang__arrow {
        transform: rotate(180deg);
    }

    .lang__list {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.lang__wrap {
    display: flex;
    align-items: center;
}

.lang__arrow {
    margin-right: 10px;
    transition: .3s;
}

.lang__list {
    position: absolute;
    top: 130%;
    left: 0;
    opacity: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    transform: translateY(-10px);
    transition: .3s;
    pointer-events: none;
}

.lang__item {
    padding: 5px 0;
    text-align: center;
    transition: .2s;

    &:hover {
        background-color: rgba(#8fbb1c, .1);
    }
}

.lang__flag {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
}

.lang__flag_en {
    background-image: url(../img/en.png);
}

.lang__flag_fr {
    background-image: url(../img/fr.png);
}