<main class="main">
    <div class="container">
        <h2 class="main__title">Бестселлеры</h2>
        <ul class="products">
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/product.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Dominator</div>
                    <div class="products__item-subtitle">Спрей для увеличения полового члена</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Увеличивает длительность полового акта</li>
                        <li class="product__advantage">Увеличивает длину полового члена</li>
                        <li class="product__advantage">Позволяет контролировать процесс эякуляции</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/product.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Pantoflex</div>
                    <div class="products__item-subtitle">Крем - антиоксидант для суставов</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Быстро снимает боль</li>
                        <li class="product__advantage">Останавливает разрушение суставов</li>
                        <li class="product__advantage">Восстанавливает функции суставов</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/product.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Luray Bustier</div>
                    <div class="products__item-subtitle">Крем для увеличения груди без гормонов и операций</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Увеличивает бюст естественным способом</li>
                        <li class="product__advantage">Подтягивает грудь и делает ее упругой</li>
                        <li class="product__advantage">Не оказывает побочных эффектов</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/product.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Luray White</div>
                    <div class="products__item-subtitle">Крем для отбеливания кожи</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Интенсивно отбеливает</li>
                        <li class="product__advantage">Сохраняет упругость кожи</li>
                        <li class="product__advantage">Устраняет воспаления и дефекты</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</main>