<main class="main">
    <div class="container">
        <h2 class="main__title">Новинки</h2>
        <ul class="main__products">
            <li class="main__product">
                <h3 class="main__product-title">Luray White</h3>
                <div class="main__product-pack">
                    <img src="img/product-1.png" alt="" class="main__product-img">
                </div>
            </li>
            <li class="main__product">
                <h3 class="main__product-title">Luray Bustier</h3>
                <div class="main__product-pack">
                    <img src="img/product-2.png" alt="" class="main__product-img">
                </div>
            </li>
            <li class="main__product">
                <h3 class="main__product-title">Dominator</h3>
                <div class="main__product-pack">
                    <img src="img/product-3.png" alt="" class="main__product-img">
                </div>
            </li>
        </ul>
    </div>
</main>