.main {
    padding: 45px 0 100px;

    @include r(1023) {
        padding: 30px 0;
    }

    @include r(499) {
        padding: 20px 0;
    }
}

.main__title {
    margin-bottom: 35px;
    font-size: 39px;
    line-height: 39px;
    font-weight: 800;
    color: #483729;

    @include r(1023) {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 30px;
    }

    @include r(499) {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 25px;
    }
}

.main__products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include r(640) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.main__product {
    width: 31.623%;
    min-height: 425px;
    padding: 35px 20px;
    border: 1px solid #efefef;
    transition: .3s;

    &:hover {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
    }

    &:first-child {

        @include r(640) {
            margin-right: 10px;
        }

        @include r(499) {
            margin-right: 0;
        }
    }

    &:last-child {

        @include r(640) {
            margin-top: 20px;
        }
    }

    &:not(:first-child) {

        @include r(499) {
            margin-top: 15px;
        }
    }

    @include r(1100) {
        padding-top: 20px;
    }

    @include r(1023) {
        min-height: 350px;
    }

    @include r(767) {
        padding-top: 10px;
        min-height: 270px;
    }

    @include r(640) {
        width: 48%;
    }

    @include r(499) {
        width: 100%;
        max-width: 300px;
    }
}

.main__product-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    color: #131313;

    @include r(1023) {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
    }

    @include r(499) {
        font-size: 20px;
        line-height: 26px;
    }
}

.main__product-pack {

    @include r(1100) {
        margin-left: 10px;
    }
}

.main__product-img {
    align-self: center;
}