<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a href="/" class="footer__logo">
                <img src="img/logo-footer.png" alt="" class="footer__logo-img">
            </a>
            <div class="footer__info">
                <div class="footer__location footer__text">
                    Avenue De La Fauconnerie 48, <br>
                    Watermael Boitsfort, Belgium, 1170
                </div>
                <div class="footer__web footer__text">
                    www.selfcares.com
                </div>
                <div class="footer__company footer__text">
                    SelfCare Сompany SPRL
                </div>
                <div class="footer__contact footer__text">
                    <a href="/contact-us.html" class="footer__contact-link">Свяжитесь с нами</a>
                </div>
            </div>
        </div>
    </div>
</footer>