.slider {
    overflow: hidden;
}

.slider__item {
    position: relative;
    width: 100%;
    height: 658px;
    margin: 0 auto;
    background-size: cover;

    @include r(1100) {
        height: 520px;
    }

    @include r(767) {
        height: 390px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: rgba(255, 255, 255, .5)
        }
    }

    .container {
        height: 100%;
    }
}

.slider__item-wrap {
    position: relative;
    display: flex;
    height: 100%;
}

.slider__item_1 {
    background-color: #f0f3f6;

    @include r(767) {
        background-image: url(../img/slide-1.png);
        background-size: cover;
        background-position: 60px center;
        background-repeat: no-repeat;
    }

    .slider__item-pic {
        right: -170px;

        @include r(1100) {
            width: 700px;
            right: -300px;
        }

        @include r(767) {
            right: 0;
        }
    }
}

.slider__item_2 {
    background-color: #ecebec;

    @include r(767) {
        background-image: url(../img/slide-2.png);
        background-size: cover;
        background-position: -50px center;
        background-repeat: no-repeat;
    }

    .slider__item-pic {
        right: 10px;

        @include r(950) {
            right: -135px;
        }

        @include r(767) {
            right: 0;
        }
    }
}

.slider__item_3 {
    background-color: #f3f3f3;

    @include r(767) {
        background-image: url(../img/slide-3.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .slider__item-pic {
        right: 10px;

        @include r(767) {
            right: 0;
        }
    }
}

.slider__item-pic {
    position: absolute;
    right: 0;
    bottom: 0;

    @include r(1100) {
        width: 850px;
    }

    @include r(767) {
        display: none;
        width: 100%;
        z-index: 1;
    }
}

.slider__img {
    width: 100%;
}

.slider__content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 555px;
    margin-top: 265px;
    flex-shrink: 0;

    @include r(1100) {
        margin-top: 190px;
    }

    @include r(767) {
        margin-top: 150px;
    }

    @include r(575) {
        margin-top: 120px;
    }
}

.slider__item-title {
    margin-bottom: 15px;
    font-size: 45px;
    line-height: 50px;
    font-weight: 800;
    color: #483729;

    @include r(1300) {
        font-size: 40px;
        line-height: 45px;
    }

    @include r(1000) {
        margin-bottom: 10px;
        font-size: 35px;
        line-height: 40px;
    }

    @include r(850) {
        font-size: 30px;
        line-height: 35px;
    }

    @include r(479) {
        font-size: 25px;
    }
}

.slider__item-desc {
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
    color: #4f4f4f;

    @include r(1300) {
        font-size: 22px;
        line-height: 28px;
    }

    @include r(1000) {
        font-size: 20px;
        line-height: 25px;
    }

    @include r(850) {
        font-size: 18px;
        line-height: 22px;
    }

    @include r(479) {
        font-size: 16px;
        line-height: 20px;
    }
}

.slider__dots {
    position: absolute;
    left: calc(50% - 535px);
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-50%);
    counter-reset: slide;

    @include r(1100) {
        bottom: 40px;
    }

    @include r(1170) {
        left: 60px;
    }

    @include r(767) {
        bottom: 20px;
    }

    .slick-active {

        &::before {
            content: '';
            position: absolute;
            top: -23px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            width: 2px;
            height: 13px;
            background-color: #8fbb1c;
        }

        &::after {
            color: #444;
        }
    }

    li {
        position: relative;
        transition: .2s;
        cursor: pointer;

        &::after {
            counter-increment: slide;
            content: '0'counter(slide);
            font-size: 15px;
            color: #9f9f9f;
            font-weight: 800;
        }

        &:not(:last-child) {
            margin-right: 23px;
        }
    }

    button {
        display: none;
        font-size: 0;
    }
}

.slick-prev {
    bottom: 147px;
    z-index: 1;
    width: 34px;
    height: 13px;
    left: calc(50% - 580px);

    @include r(1170) {
        left: 10px;
    }

    @include r(1100) {
        bottom: 110px;
    }

    @include r(767) {
        bottom: 80px;
    }

    &::before {
        display: none;
    }
}

.slick-arrow {
    background: url("../img/slider-arrow.svg") no-repeat;
    background-position: 50%;
    background-size: contain;
    transition: .2s;
}

.slick-next {
    display: none;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    background: url("../img/slider-arrow.svg") no-repeat;
    background-position: 50%;
    background-size: contain;
}

.slick-prev:hover {
    margin-left: -5px;
}