<section class="intro">
    <div class="slider">
        <div class="slider__item slider__item_1">
            <div class="container">
                <div class="slider__content">
                    <h2 class="slider__item-title">Прежде всего <br> для нас – это здоровье </h2>
                    <p class="slider__item-desc">
                        и счастье наших покупателей
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_2">
            <div class="container">
                <div class="slider__content">
                    <h2 class="slider__item-title">В своих рецептах мы&nbsp;объединяем
                    </h2>
                    <div class="slider__item-divider"></div>
                    <p class="slider__item-desc">
                        силу природы и научные исследования
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__item slider__item_3">
            <div class="container">
                <div class="slider__content">
                    <h2 class="slider__item-title">Мы используем только лучшее сырье</h2>
                    <div class="slider__item-divider"></div>
                    <p class="slider__item-desc">
                        от проверенных поставщиков для&nbsp;создания наших продуктов
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>