<main class="main main_products">
    <div class="container">
        <h2 class="main__title">Products</h2>
        <ul class="products products_evenly">
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/imosteon.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Imosteon</div>
                    <div class="products__item-subtitle">Капсулы для здоровья суставов</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Снимает боль и воспаления</li>
                        <li class="product__advantage">Стимулирует восстановление хрящевой и костной тканей</li>
                        <li class="product__advantage">Способствует возвращению подвижности</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/varitonus.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Varitonus</div>
                    <div class="products__item-subtitle">Таблетки от варикозного расширения вен</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Нормализует кровообращение в ногах</li>
                        <li class="product__advantage">Избавляет от болей и чувства тяжести</li>
                        <li class="product__advantage">Препятствует образованию застоя крови в сосудах</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/mikocin.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Mikocin</div>
                    <div class="products__item-subtitle">Противогрибковое средство</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Подавляет грибковые инфекции</li>
                        <li class="product__advantage">Избавляет от симптомов грибковой инфекции</li>
                        <li class="product__advantage">Повышает имунитет</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/7fit.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">7Fit</div>
                    <div class="products__item-subtitle">Таблетки для похудения</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Ускоряет обмен веществ</li>
                        <li class="product__advantage">Подавляет чувство голода и тягу к сладкому</li>
                        <li class="product__advantage">Расщепляет жировые отложения</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/libido-drive.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Libido Drive</div>
                    <div class="products__item-subtitle">Таблетки для увеличения члена</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Активизирует приток крови к члену</li>
                        <li class="product__advantage">Стимулирует сексуальное желание</li>
                        <li class="product__advantage">Способствует выработке тестостерона</li>
                    </ul>
                </div>
            </li>
            <li class="products__item">
                <div class="products__pack">
                    <img src="img/biorecin.png" alt="" class="products__pack-img">
                </div>
                <div class="products__content">
                    <div class="products__item-title">Biorecin</div>
                    <div class="products__item-subtitle">Капсулы для омоложения кожи</div>
                    <ul class="products__advantages">
                        <li class="product__advantage">Возвращает коже упругость и эластичность</li>
                        <li class="product__advantage">Запускает процессы обновления клеток кожи</li>
                        <li class="product__advantage">Замедляет процессы старения кожи</li>
                    </ul>
                </div>
            </li>
        </ul>
        <button class="btn btn-products">
            <svg class="btn__img" xmlns="http://www.w3.org/2000/svg" width="25.21" height="27.16"
                viewBox="0 0 25.21 27.16">
                <defs>
                    <style>
                        .btn-products .cls-1 {
                            fill: #8fbb1c;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path class="cls-1"
                    d="M1229.93,1735.28a0.977,0.977,0,0,0-.97.97v3.54a12.58,12.58,0,0,0-21.33,9.07,0.97,0.97,0,1,0,1.94,0,10.66,10.66,0,0,1,18.53-7.2l-4.29,1.43a0.969,0.969,0,1,0,.61,1.84l5.82-1.94a0.958,0.958,0,0,0,.66-0.92v-5.82A0.971,0.971,0,0,0,1229.93,1735.28Zm1.94,12.61a0.971,0.971,0,0,0-.97.97,10.667,10.667,0,0,1-18.54,7.2l4.3-1.43a0.983,0.983,0,0,0,.62-1.23,0.969,0.969,0,0,0-1.23-.61l-5.82,1.94a0.967,0.967,0,0,0-.67.92v5.82a0.97,0.97,0,0,0,1.94,0v-3.55a12.58,12.58,0,0,0,21.34-9.06A0.965,0.965,0,0,0,1231.87,1747.89Z"
                    transform="translate(-1207.63 -1735.28)" />
            </svg>
            <span class="btn__text">Загрузить еще</span>
        </button>
    </div>
</main>