// $mainColor: #000
$container-width: 1170px;

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

main {
    display: block;
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

textarea {
    font-size: 16px;
}

img {
    max-width: 100%;
}

svg {
    overflow: hidden;
}

.container {
    max-width: $container-width;
    margin: 0 auto;

    @include r(1199) {
        padding: 0 10px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    padding: 15px 0;
    border: 1px solid #8fbb1c;
    border-radius: 5px;
    background: none;
    outline: none;
    cursor: pointer;
}

.btn-products {
    margin: 0 auto;

    &:hover {

        .btn__img {
            transform: rotate(360deg);
        }
    }
}

.btn_send {
    position: relative;
    margin-top: 103px;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #8fbb1c;
        transition: .3s;
    }

    &:hover {

        &::before {
            top: 0;
        }

        .btn__text {
            color: #fff;
        }
    }

    .btn__text {
        position: relative;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #8fbb1c;
    }

    @include r(1023) {
        margin-top: 60px;
    }

    @include r(767) {
        margin-top: 40px;
    }

    @include r(479) {
        margin: 30px auto 0;
    }
}

.btn__img {
    margin-right: 17px;
    transform-origin: center center;
    transition: .3s;
}

.btn__text {
    font-size: 15px;
    line-height: 24px;
    color: #8fbb1c;
}