<header class="header header_colored">
    <div class="container">
        <div class="header__wrap">
            <button class="header__btn">
                <span class="header__btn-line header__btn-line_1"></span>
                <span class="header__btn-line header__btn-line_2"></span>
                <span class="header__btn-line header__btn-line_3"></span>
            </button>
            <div class="logo logo_header">
                <a href="/" class="logo__link">
                    <img src="img/logo.png" alt="" class="logo__img">
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="/" class="header__item-link">Main</a>
                    </li>
                    <li class="header__item">
                        <a href="products.html" class="header__item-link">Products</a>
                    </li>
                    <li class="header__item header__item_active">
                        <a href="" class="header__item-link">About us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item breadcrumbs__item_home">
                <a href="/" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item_current">
                <a href="" class="breadcrumbs__link">About us</a>
            </li>
        </ul>
    </div>
</section>