<main class="main main_about">
    <div class="container">
        <h2 class="main__title">About us</h2>
        <div class="main__divider"></div>
        <p class="main__desc">
            <span class="main__desc-accent">SelfCare</span> – компания, которая превыше всего ставит качество продуктов
            и удовлетворение своих клиентов. Именно поэтому при производстве товаров, компания уделяет огромное внимание
            даже самым мельчайшим деталям. Будь то поставки сырья, логистика и сроки производства.
        </p>
        <ul class="main__pics">
            <li class="main__pic">
                <img src="img/about-1.jpg" alt="" class="main__pic-img">
            </li>
            <li class="main__pic">
                <img src="img/about-2.jpg" alt="" class="main__pic-img">
            </li>
            <li class="main__pic">
                <img src="img/about-3.jpg" alt="" class="main__pic-img">
            </li>
        </ul>
        <p class="main__desc">
            В качестве сырья используются только натуральные компоненты из самых экологически чистых районов. Поиском,
            сортировкой и отбором которых занимаются высококвалифицированные и профессиональные ученые.
        </p>
        <p class="main__desc">
            Обрабатывается сырье на новейшем, самом современном оборудовании. Это позволяет получать максимально
            концентрированные экстракты из компонентов - все витамины, микроэлементы и полезные вещества остаются в
            активной форме и полном объеме.
        </p>
        <p class="main__desc">
            Качество продукции находится под постоянным контролем, после чего каждая партия проходит выборочную
            проверку. Это позволило исключить вероятность выпуска некачественных препаратов.
        </p>
        <p class="main__desc">
            Сочетание современных технологий и природных компонентов уже не раз продемонстрировало превосходство над
            обычными лекарственными препаратами. Так и препараты, будь это средства для красоты или здоровья, действуют
            на организм бережно, но эффективно.
        </p>
        <p class="main__desc">
            Наши клиенты могут быть уверены, что покупая у нас, они получают качественный и безопасный продукт, который
            позаботиться об их здоровье и красоте.
        </p>
        <p class="main__desc">
            SelfCare постоянно развивается. Компания постоянно внедряет инновации в технологический процесс, обновляет и
            улучшает формулы средств. Находится в поиске и экспериментирует с новыми ингредиентами
            и способами усиления тех или иных свойств даров природы. Такой подход и внимание к деталям и стали залогом
            успеха SelfCare.
        </p>
        <p class="main__desc">
            Ваши здоровье и красота – наши приоритеты.
        </p>
    </div>
</main>