<header class="header header_colored">
    <div class="container">
        <div class="header__wrap">
            <button class="header__btn">
                <span class="header__btn-line header__btn-line_1"></span>
                <span class="header__btn-line header__btn-line_2"></span>
                <span class="header__btn-line header__btn-line_3"></span>
            </button>
            <div class="logo logo_header">
                <a href="/" class="logo__link">
                    <img src="img/logo.png" alt="" class="logo__img">
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="/" class="header__item-link">Main</a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__item-link">Products</a>
                    </li>
                    <li class="header__item">
                        <a href="about.html" class="header__item-link">About us</a>
                    </li>
                </ul>
            </nav>
            <div class="lang">
                <div class="lang__wrap">
                    <svg class="lang__arrow" xmlns="http://www.w3.org/2000/svg" width="16.34" height="8.719"
                        viewBox="0 0 16.34 8.719">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #9b9b9b;
                                    fill-rule: evenodd;
                                }
                            </style>
                        </defs>
                        <path class="cls-1"
                            d="M1818.29,56.571a0.582,0.582,0,0,0-.82,0l-7.17,7.187-7.18-7.187a0.582,0.582,0,0,0-.82,0,0.568,0.568,0,0,0,0,.816l7.58,7.581a0.555,0.555,0,0,0,.41.169,0.607,0.607,0,0,0,.41-0.169l7.58-7.581A0.56,0.56,0,0,0,1818.29,56.571Z"
                            transform="translate(-1802.13 -56.406)" />
                    </svg>
                    <div class="lang__flag lang__flag_en lang__flag_main"></div>
                </div>
                <ul class="lang__list">
                    <li class="lang__item" data-lang="fr">
                        <span class="lang__flag lang__flag_fr"></span>
                    </li>
                    <li class="lang__item" data-lang="en">
                        <span class="lang__flag lang__flag_en"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item breadcrumbs__item_home">
                <a href="/" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item_current">
                <a href="" class="breadcrumbs__link">Свяжитесь с нами</a>
            </li>
        </ul>
    </div>
</section>